body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	.upload-container{
	    display: flex;
		flex-direction: column;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: center;
		justify-content: center;
		width: 80%;
		height: 200px;
		border: 1px dashed #555555;
		margin: auto;
		margin-bottom: 10px;
	}

	.datatable-container{
		width: 80%;
		border: 1px solid #0000003b;
		margin: auto;
		padding: 0 0;
	}
	
	.react-csv-input{
		display: none;
	}
	.invalid-csv{
		text-align: center;
		color: red;
		padding: 10px;
	}
}